*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans' , sans-serif;
}
nav{ 
	display: flex;
	padding: 2% 0%;
	justify-content: space-between;
	align-items: center
}
nav img{
	width: 150px;
}
.navbar{
    background: #0f0616;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar_container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
#navbar_logo{
  background-color: #ea00ff;
  background-image: linear-gradient(to top, #ea00ff 0%; #ea00ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.fa-gem{
  margin-right: 0.5rem;
}
.navbar_menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar_item{
  height: 80px;
}
.navbar_links{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}
.navbar_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #ea00ff;
  color: #fff;
}
.button:hover{
  background: #0f0616;
  transition: all 0.3s ease;
}
.navbar_links:hover{
  color: #ea00ff;
  transition: all 0.3s ease;
}
@media screen and (max-width: 960px){
  .navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #0f0616;
  }
  .navbar_menu.active{
    background: #0f0616;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }
  #navbar_logo{
    padding-left: 25px;
  }
  .navbar_toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar_item{
    width: 100%;
  }
  .navbar_links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar_btn{
    padding-bottom: 2rem;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  .navbar_toggle .bar{
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
   #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg)
  }
  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg)
  }
}
/*hero section css*/
.main{
  background-color: #0f0616;
}
.main_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #0f0616;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}
.main_content h1{
  font-size: 4rem;
  background-color: #bf00ff;
  background-image: linear-gradient(to top, #8963c6 0%, #ff0ef3 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main_content h2{
  font-size: 4rem;
  background-color: #ccccff;
  background-image: linear-gradient(to top, #2b5df5 0%, #4bf0fc 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main_content p{
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.main_btn{
  font-size: 1rem;
  background-image: linear-gradient(to top, #8963c6 0%, #ff0ef3 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}
.main_btn a{
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.main_btn:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0f0616;
  transition: all 0.35s;
  border-radius: 4px;
}
.main_btn:hover{
  color: #fff;
}
.main_btn:hover:after{
  width: 100%;
}
.main_img-container{
  text-align: center;
}
#main_img{
  height: 80%;
  width: 80%;
}
/* mobile responsive*/
@media screen and (max-width: 768px){
  .main_container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }
  .main_content{
    text-align: center;
    margin-bottom: 4rem;
  }
  .main_content h1{
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .main_content h2{
    font-size: 3rem;
  }
  .main_content p{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px){
  .main_content h1{
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main_content h2{
    font-size: 2rem;
  }
  .main_content p{
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .main_btn{
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}
/*services section*/
.services{
  background: #0f0616;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.services h1{
  background-color: #bf00ff;
  background-image: linear-gradient(to top, #2b5df5 0%, #4bf0fc 100%);
  background-size:  100%;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.services_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services_card{
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(to top, 
  rgba(0,0,0) 0%, rgba(17,17,17,0) 60%),url(45.jpg);
  background-size: cover;
  position: relative;
  color: #fff;
}
.services_card:nth-child(2){
  background-image: linear-gradient(to top, rgba(0,0,0) 0%, 
  rgba(17,17,17,0) 60%),url(46.jpg);
}
.services_card:nth-child(3){
  background-image: linear-gradient(to top, rgba(0,0,0) 0%, 
  rgba(17,17,17,0) 60%),url(44.jpg);
}
.services_card:nth-child(4){
  background-image: linear-gradient(to top, rgba(0,0,0) 0%, 
  rgba(17,17,17,0) 60%),url(41.jpg);
}
.services_card:nth-child(5){
  background-image: linear-gradient(to top, rgba(0,0,0) 0%, 
  rgba(17,17,17,0) 60%),url(43.jpg);
}
.services h2{
  position: absolute;
  top: 350px;
  left: 30px;
}
.services p{
  position: absolute;
  top: 400px;
  left: 30px;
}
.services_card button{
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #ea00ff;
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
}
.services_card:hover{
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}
@media screen and (max-width: 960px){
  {}
  .services{
    /*changes space between cards and footer*/
    height: 1600px;
  }
  .services h1{
    font-size: 2rem;
    margin-top: 12rem; 
  }
}
@media screen and (max-width: 480px){
  {}
  .services{
    /*changes space between cards and footer*/
    height: 2000px;
  }
  .services h1{
    font-size: 1.2rem;
  }
  .services_card{
    width: 300px;
  }
}
/* footer css */
.footer_container{
  background-color: #0f0616;
  /*show the footer*/
  height: 3500px;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_links{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
.footer_link-wrapper{
  display: flex;
}
.footer_link-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 400px;
  box-sizing: border-box;
}
.footer_link-items h2{
  margin-bottom: 16px;
}
.footer_link-items > h2{
  color: #fff;
}
.footer_link-items a{
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer_link-items a:hover{
  color: #e9e9e9;
  transition: 0.3s ease-out;
}
@media screen and (max-width: 820px){
  {}
  .footer_links{
    padding-top: 2rem;
  }
  .footer_link-wrapper{
    flex-direction: column;
  }
}
@media screen and (max-width: 480px){
  {}
  .footer_link-items{
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}